---
import type { Hero } from "../../sanity.types";

const { hero } = Astro.props;

const baseBg = hero.lightColorScheme?.baseBg?.hex;
const baseText = hero.lightColorScheme?.baseText?.hex;
const accentBg = hero.lightColorScheme?.accentBg?.hex;
const accentText = hero.lightColorScheme?.accentText?.hex;
const baseBgDark = hero.darkColorScheme?.baseBg?.hex;
const baseTextDark = hero.darkColorScheme?.baseText?.hex;
const accentBgDark = hero.darkColorScheme?.accentBg?.hex;
const accentTextDark = hero.darkColorScheme?.accentText?.hex;
---

<section class="hero">
  <h1>{hero.heading}</h1>
  <p>{hero.subHeading}</p>
  <a href={hero.ctaLink} class="cta-link">{hero.ctaText}</a>
</section>
<style define:vars={{ baseBg, baseText, accentBg, accentText, baseBgDark, baseTextDark, accentBgDark, accentTextDark }}>
/*  */
</style>
