---
import type { SanityDocument } from '@sanity/client';
import { loadQuery } from './../sanity/lib/load-query';

// Fetch settings data with referenced theme (singleton document)
const { data: siteSettings } = await loadQuery<SanityDocument>({
  query: `*[_id == "siteSettings"][0]{
    siteTitle,
    liveTemplate->{
      _id,
      title,
    }
  }`,
});
---

<main class="flex h-[80lvh] flex-col items-center justify-center gap-4">
  <section class="flex flex-col">
    <h1>
      {siteSettings?.siteTitle || 'Welcome to the Astro Boiler Plate.'}
    </h1>
    {
      siteSettings?.liveTemplate?.title ? (
        <>
          <h2>
            Current Theme:
            <span class="accent-text">{siteSettings.liveTemplate.title}</span>
          </h2>
          <p>Theme ID: {siteSettings.liveTemplate._id}</p>
        </>
      ) : (
        <p>Login to Studio to get started.</p>
      )
    }
  </section>
</main>
