---
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "./../sanity/lib/load-query";
import "../styles/global.css";

const { data: siteSettings } = await loadQuery<SanityDocument>({
  query: `*[_id == "siteSettings" && !(_id in path("drafts.**"))][0]{
    siteTitle,
    liveTemplate->{
      lightScheme->{
        baseBg,
        baseText,
        accentBg,
        accentText
      },
      darkScheme->{
        baseBg,
        baseText,
        accentBg,
        accentText
      }
    }
  }`,
});

const light = siteSettings?.liveTemplate?.lightScheme;
const dark = siteSettings?.liveTemplate?.darkScheme;

const baseBg = light?.baseBg?.hex || "#EEEEEE";
const baseText = light?.baseText?.hex || "#111111";
const accentBg = light?.accentBg?.hex || "#8E4EC6";
const accentText = light?.accentText?.hex || "#FFFFFF";

const baseBgDark = dark?.baseBg?.hex || baseText;
const baseTextDark = dark?.baseText?.hex || baseBg;
const accentBgDark = dark?.accentBg?.hex || accentBg;
const accentTextDark = dark?.accentText?.hex || accentText;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteSettings?.siteTitle || "Astro Boiler Plate"}</title>
    <script>
      import { initThemeToggle } from "./../js/theme-switch.js";
      initThemeToggle();
    </script>
    <style
      define:vars={{
        baseBg,
        baseText,
        accentBg,
        accentText,
        baseBgDark,
        baseTextDark,
        accentBgDark,
        accentTextDark,
      }}
    >
/*  */
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
