---
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "./../sanity/lib/load-query";
import "../styles/global.css";

const { data: siteSettings } = await loadQuery<SanityDocument>({
  query: `*[_id == "siteSettings"][0]{
    siteTitle,
    liveTemplate->{
      _id,
      name,
      defaultLightColorScheme->{
        backgroundColor,
        textColor,
        accentColor
      },
      defaultDarkColorScheme->{
        backgroundColor,
        textColor,
        accentColor
      }
    }
  }`,
});

const defaultDarkColorScheme =
  siteSettings?.liveTemplate?.defaultDarkColorScheme;

const bgColor = defaultDarkColorScheme?.backgroundColor?.hex || "#ffffff";
const textColor = defaultDarkColorScheme?.textColor?.hex || "#000000";
const accentColor = defaultDarkColorScheme?.accentColor?.hex || "#007acc";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteSettings.siteTitle}</title>
    <style define:vars={{ bgColor, textColor, accentColor }} is:global>
      :root {
        --bgColor: var(--bgColor);
        --textColor: var(--textColor);
        --accentColor: var(--accentColor);
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
